{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/navigationtools/compass_handle.png",
      "fileBody" : "/interface/navigationtools/compass_background.png"
    },
    "canvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 0, 105, 105],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    }
  },
  "canvasClickCallbacks" : {
    "canvas" : "canvasClickEvent"
  },


  "scripts" : [
    "/interface/navigationtools/compass.lua"
  ],
  "scriptDelta" : 2
}
