{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/navigationtools/minimap/headerlarge.png",
      "fileBody" : "/interface/navigationtools/minimap/bodylarge.png",
      "fileFooter" : "/interface/navigationtools/minimap/footerlarge.png"
    },
    "canvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 6, 288, 183],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    }
  },
  "canvasClickCallbacks" : {
    "canvas" : "canvasClickEvent"
  },

  "scripts" : [
    "/interface/navigationtools/minimap.lua"
  ],
  "scriptDelta" : 4,

  "mapColors" : {
    "unknown" : [0, 0, 0, 255],
    "nothing" : [20, 20, 20, 255],
    "solid" : [215, 216, 219, 255],
    "background" : [102, 109, 121, 255],
    "liquid" : [37, 84, 162, 255]
  },

  "mapRegion" : [20, 2, 266, 174],
  "buttonPositions" : {
    "blueMarker" : [3, 104],
    "greenMarker" : [3, 132],
    "redMarker" : [3, 160],
    "deleteMarker" : [268, 1],
    "clearDeaths" : [268, 29],
    "clearMap" : [268, 57],
    "contractScreen" : [268, 160]
  },
  "tooltipPosition" : [23, 10],
  "distancePosition" : [264, 10],
  "tooltipColor" : [255, 255, 255, 255],
  "lockOnPlayer": false
}
