{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/navigationtools/minimap/headerlarger.png",
      "fileBody" : "/interface/navigationtools/minimap/bodylarger.png",
      "fileFooter" : "/interface/navigationtools/minimap/footerlarger.png"
    },
    "canvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 6, 375, 266],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    }
  },
  "canvasClickCallbacks" : {
    "canvas" : "canvasClickEvent"
  },

  "scripts" : [
    "/interface/navigationtools/minimap.lua"
  ],
  "scriptDelta" : 4,

  "mapColors" : {
    "unknown" : [0, 0, 0, 255],
    "nothing" : [20, 20, 20, 255],
    "solid" : [215, 216, 219, 255],
    "background" : [102, 109, 121, 255],
    "liquid" : [37, 84, 162, 255]
  },

  "mapRegion" : [20, 2, 353, 257],
  "buttonPositions" : {
    "blueMarker" : [3, 186],
    "greenMarker" : [3, 205],
    "yellowMarker" : [3, 224],
    "redMarker" : [3, 243],
    "deleteMarker" : [355, 0],
    "clearDeaths" : [355, 19],
    "clearMap" : [355, 38],
    "contractScreen" : [355, 243]
  },
  "mapSize" : "larger",
  "tooltipPosition" : [23, 10],
  "distancePosition" : [351, 10],
  "tooltipColor" : [255, 255, 255, 255],
  "lockOnPlayer": false
}
