{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/navigationtools/renameheader.png",
      "fileBody" : "/interface/navigationtools/renamebody.png",
      "fileFooter" : "/interface/navigationtools/renamefooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Name Marker",
      "subtitle" : "Give a name to this marker",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/vaultaccess/icon.png",
        "zlevel" : -1
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 67]
    },
    "markerName" : {
      "type" : "textbox",
      "position" : [11, 37],
      "maxWidth" : 80,
      "hint" : "marker name",
      "escapeKey" : "close",
      "enterKey" : "rename",
      "focus" : true
    },
    "renameButton" : {
      "type" : "button",
      "position" : [103, 33],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Rename",
      "callback" : "rename"
    }
  },

  "scriptWidgetCallbacks" : [
    "markerName",
    "rename"
  ],

  "scripts" : ["/interface/navigationtools/renamemarkergui.lua"],
  "scriptDelta" : 30
}
