{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/navigationtools/surfacemap/header.png",
      "fileBody" : "/interface/navigationtools/surfacemap/body.png",
      "fileFooter" : "/interface/navigationtools/surfacemap/footer.png"
    },
    "canvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [5, 7, 99, 111],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    }
  },
  "canvasClickCallbacks" : {
    "canvas" : "canvasClickEvent"
  },

  "scripts" : [
    "/interface/navigationtools/surfacemap.lua"
  ],
  "scriptDelta" : 2
}
