{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Clear Minimap",
  "message" : "Are you sure you'd like to clear the mapping data for the current world?",
  "okCaption" : "Clear Minimap",
  "cancelCaption" : "Cancel",
  "images" : {
    "portrait" : []
  }
}
