{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Clear Death Markers",
  "message" : "Are you sure you'd like to clear all current death markers from this world?",
  "okCaption" : "Clear Deaths",
  "cancelCaption" : "Cancel",
  "images" : {
    "portrait" : []
  }
}
